<%- include('partials/head')%>
<%- include('partials/navbar')%>

    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ducimus ipsum recusandae iure deserunt eligendi
        magnam quos beatae? Perferendis aperiam nobis voluptates temporibus quaerat debitis nam corporis nulla facilis
        quos?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, et? Illum ea accusantium dignissimos
        nobis totam atque aliquam iusto porro consequuntur aperiam distinctio, aut veritatis fugit exercitationem eaque!
        Ut, incidunt!</p>
<%- include('partials/footer')%>