<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="POST">
        <section>
            <label for="username">Enter a username: </label>
            <input type="text" id="username" name="username" placeholder="Username">
        </section>
        <section>
            <label for="comment">Enter a comment: </label>
            <input type="text" id="comment" name="comment" placeholder="Comment">
        </section>
        <button>Submit</button>
    </form>
    <a href="/comments">Back to comments</a>
</body>

</html>